// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the app.ios.styl or app.mat.styl files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = $blue-12
$secondary = #5D5DB1
$tertiary  = #586875

$neutral   = #E0E1E2
$positive  = #16c98d
$negative  = $red-12
$info      = #27dede
$warning   = $deep-orange-12

$dark               = #18262F
$body-background    = #222E38
$body-color         = #E8E9ED

.q-icon
  &.q-if-control
    font-size 22px

::-webkit-scrollbar
  height: 2px
  width: 2px
  background-color: $dark

::-webkit-scrollbar-thumb
  background-color: $tertiary
